/* ============== Blogs ============== */

#blogs-content {
    padding: 5%;
    padding-top: 1%;
}

#blog-header {
    letter-spacing: 0.02em;
    width: 50%;
    font-family: Caudex;
    font-size: 2.8em;
    padding-top: 1%;
    margin-bottom: 2%;
    border-bottom: 3px solid #007bff;
    align-self: bottom;
}

#blog-date {
    width: 100%;
    letter-spacing: 0.02em;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 7%;
}

#blog-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 0.9rem;
    font-size: 100%;
    letter-spacing: 0.01em;
    align-self: left;
    font-size: 1.2em;
}


.blog-link {
    font-size: 1.0em;
    letter-spacing: 0.01em;
}

#flower3-img {
    position: absolute;
    width: 60%;
    height: auto;
    right: -16%;
    top: -63%;
    z-index: -1;
    overflow: hidden;
}

