/* ============== Blog Template ============== */

#blogs-content {
    padding: 5%;
    padding-top: 1%;
}

#blog-header {
    letter-spacing: 0.02em;
    width: 80%;
    font-family: Caudex;
    font-size: 2.8em;
    padding-top: 1%;
    margin-bottom: 2%;
    border-bottom: 3px solid #007bff;
    align-self: bottom;
}

#blog-date {
    width: 100%;
    letter-spacing: 0.02em;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 7%;
}

#blog-source {
    width: 100%;
    height: 80vh;
    margin: 0px;
    padding: 0px;
}

