/* ============== Blog Template ============== */
#blog-button {
  position: absolute;
  font-size: 1.0em;
  padding: 10px;
  letter-spacing: 0.05em;
  left: 0px; /* This is the line that makes the button left aligned */
  top: 0px; /* This is the line that makes the button top aligned */
  border: 4px double white;
  margin: 10px;
}

#blog-header-wrapper {
  width: 60vw;
  height: 30vh;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 10vh;
}

#blog-header {
  font-size: 3.0em;
  letter-spacing: 0.02em;
  vertical-align: middle;
}

#blog-date {
  position: absolute;
  right: 18vw;
  padding-top: 0px;
  margin-top: -8vh;
}

#blog-video-wrapper {
  position: absolute;
  width: 70vw;
  height: 80vh;
  margin-top: 10vh;
  padding-bottom: 10vh;
  margin-left: 15vw;
  margin-right: 15vw;
}

#blog-video {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
