/* ============== Contact me ============== */
#contact-header {
  font-family: Caudex;
  align-self: center;
  font-size: 4.8em;
  padding-top: 20vh;
  margin-bottom: 0vh;
}

#contact-links {
  font-size: 100%;
  letter-spacing: 0.01em;
  align-self: center;
  font-size: 1.6em;
}

#copyright {
  font-size: 0.8em;
  align-self: center;
  padding-top: 5vh;
}

#contact-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin-bottom: -40vh;
}
