/* ============== Contact me ============== */
#content {
    display: flex;
    flex-direction: column;
    padding: 6%;
    padding-bottom: 20%;
    padding-top: 1%;
}

#contact-header {
    width: 30%;
    font-family: Caudex;
    align-self: left;
    font-size: 2.8em;
    padding-top: 1%;
    margin-bottom: 4%;
    border-bottom: 3px solid #007bff;
}

#contact-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    font-size: 100%;
    letter-spacing: 0.01em;
    align-self: left;
    font-size: 1.2em;
    overflow: hidden;
}

#flower2-img {
    position: absolute;
    width: auto;
    height: 140%;
    left: -15%;
    top: -23%;
    z-index: -1;
}

