/* ============== Fonts ============== */
/* Curtesy of Google Fonts */
@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/l/font?kit=HhyVU5gq9PCuP11_LNCH&skey=5128cd07406988e&v=v19) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 300 900;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfair/v2/0nk2C9D7PO4KhmUJ5_zTZ-wCMUXynAK-5UQzUIta.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Caudex';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/caudex/v17/esDT311QOP6BJUrwdteUkp8D.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kanit/v15/nKKZ-Go6G5tXcraVGwA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ===========================
   RESET + BASE
   =========================== */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #151515;
}

body {
    background: #e6dab8;
    padding: 3rem 1rem;
    /*color: #222;*/
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.1em;
    overflow-x: hidden;
}


h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.5em;
}

h1 {
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 700%;
    letter-spacing: 150%;
    font-weight: lighter;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;
}

h2 {
    font-size: 2em;
    line-height: 120%;
}

h3 {
    font-size: 120%;
    text-align: left;
    letter-spacing: 0.01em;
}

p {
    letter-spacing: 0.06em;
    padding: 3%;
    padding-right: 5%;
    padding-left: 0;
}

a {
    /*text-shadow: black 0 0 5px;*/
    color: #2e69ff;
    font-weight: normal;
    font-size: 1.1em;
}

a:hover {
    color: #4eaa99;
    color: #99b6ff;
}

/* ============== Landing page ============== */

#border {
    max-width: 900px;
    margin: 0 auto;
    background: #f5f5f5dd;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

#home-content {
    display: flex;
}

/* ===========================
   HEADER / NAV
   =========================== */
.site-header {
    /*border-bottom: 1px solid #ddd;*/
    /*background: #0000ff11;*/
    border-bottom: 4px dotted #0000ff33;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.navbar a {
    text-decoration: none;
    color: #151515;
}

.navbar a:hover {
    color: #686868;
    text-decoration: underline;
}

#paragraph {
    width: 60%;
}

#personal-container {
    display: grid;
    width: 40%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 7%;
    row-gap: 2%;
}

#img-container {
    align-self: center;
    padding-bottom: 10%;
}

#portrait-img {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-left: 0%;
    margin-right: 0%;
    /* Horizontal offset | Vertical offset | Blur radius | Spread radius | Color */
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
}

#name {
    font-size: 1.3em;
    font-weight: bold;
}

.personal-info {
    margin-top: -10px;
    margin-bottom: 0px;
    padding: 0px;
    align-self: center;
    text-align: center;
}

#title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.03rem;
}

#smaller-title {
    display: none;
}

#pages-container {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.flower-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    margin: 0px;
}

#flower1-img {
    position: absolute;
    width: auto;
    height: 140%;
    right: -2%;
    bottom: -30%;
    z-index: -1;
    overflow: hidden;
}

/* ===========================
   FOOTER
   =========================== */
.footer {
  text-align: center;
  padding: 1.0rem;
  font-size: 0.9rem;
  color: #777;
  /*border-top: 1px solid #eee;*/
}

/* ===================================== */
/* Responsive Design for mobile viewing    */
/* ===================================== */
@media (orientation: portrait) {
    #title {
        display: none;
    }

    #smaller-title {
        display: flex;
    }
}

