/* ============== Contact me ============== */
#content {
}

h1 {
    max-width: 30%;
    margin-bottom: 1%;
}

#contact-header {
}

#bar {
    display: none;
    border-bottom: 3px solid #007bff;
    margin-bottom: 2%;
}

#contact-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.4em;
    letter-spacing: 0.01em;
    font-size: 1.2em;
    padding-left: 6%;
}

#flower2-img {
    position: fixed;
    width: auto;
    height: 140%;
    right: -15%;
    top: -23%;
    z-index: -1;
    overflow: hidden;
}

